## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
publish/

## Visual Studio
.vs/

## NuGet
*.nupkg
*.snupkg

## Chrome profile (for scraper)
chrome-profile/
screenshots/

## Config
BinanceCopyTrading_Config.json
